@tailwind base;
@tailwind components;
@tailwind utilities;

/* Home */
h1 {
	font-size: 80px;
	text-align: center;
	line-height: 1;
	font-weight: bold;
}

.lineParent {
	overflow: hidden;
}
.lineChildren {
	transform: translate(0, 500px);
}

/* About */
.about-section p {
	opacity: 0;
}

.about-section p > div {
	opacity: 0;
	transform: translateY(0px);
}

.about-section p.is-reveal {
	opacity: 1;
}

/* Scroll */
* {
	scroll-behavior: smooth;
}
::-webkit-scrollbar {
	width: 0px;
}

.header-text-1 {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.char {
	transform: translateY(115px);
	transition: transform 0.5s;
	opacity: 0;
}
.slider {
	transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}
.project:hover h2 {
	transform: translateX(-10px);
}
.project:hover p {
	transform: translateX(-10px);
}
.project h2 {
	font-size: 60px;
	margin: 0px;
	font-weight: 400;
	transition: all 0.4s;
}

.project p {
	transition: all 0.4s;
	font-weight: 300;
}
